<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="banner"
        class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container">
        <!-- <a class="navbar-brand" href="index">Health</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="index" class="nav-link pl-0">Home</a></li>
                <li class="nav-item"><a href="departments" class="nav-link">Departments</a></li>
                <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
            </ul>
            <div class="ml-auto">
                <form action="#" method="get" class="probootstrap-search-form mb-sm-0 mb-3">
                    <div class="form-group">
                        <button class="icon submit"><span class="icon-magnifying-glass"></span></button>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>