<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="banner"
     class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav"
                aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="/" class="nav-link pl-0">Home</a></li>
                <li class="nav-item"><a href="/category" class="nav-link">Departments</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item" th:if="${#request.userPrincipal != null and !#request.isUserInRole('ADMIN') }"><a href="/user/profile"  class="nav-link">Profile</a></li>
                <li class="nav-item" th:if="${#request.userPrincipal != null}"><a href="/appointment"  class="nav-link">Appointment</a></li>
                <li class="nav-item" th:if="${#request.isUserInRole('ADMIN') }"><a href="/user"  class="nav-link">Users</a></li>
                <li class="nav-item" th:if="${#request.userPrincipal == null}"><a href="/login" class="nav-link">Login</a></li>
                <li class="nav-item" th:if="${#request.userPrincipal != null}"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>