<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="probootstrap-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <h3 class="heading">Head Office</h3>
                <p class="mb-5">98 West 21th Street, Suite 721 New York NY 10016</p>
                <h3 class="heading text-white">Open</h3>
                <p>
                    Mon-Fri 7:30-18:00 <br>
                    Sat 7:30-18:00 <br>
                    Sun 7:30-18:00
                </p>
            </div>
            <div class="col-md-3">
                <h3 class="heading">Quick Links</h3>
                <ul class="list-unstyled probootstrap-footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Department</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="heading">Follow us</h3>
                <ul class="probootstrap-footer-social">
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-copyright">
            <div class="col-md-12">
                <p><small>&copy; 2023 Yauhescha. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>