<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header" role="banner" class="probootstrap-header py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <a href="index" class="mr-auto"><img src="images/logo.png" width="212" height="48" class="hires" alt="Free Template by ProBootstrap"></a>
            </div>
            <div class="col-md-9">
                <div class="float-md-right float-none">
                    <div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
                        <span class="icon mr-2"><i class="icon-phone"></i></span>
                        <span class="probootstrap-text"> +900 123 456 7 <small class="d-block"><a href="/#appointment" class="arrow-link">Appointment <i class="icon-chevron-right"></i></a></small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>