<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit AppointmentStatus</title>
</head>
<body>
<h1>Edit AppointmentStatus</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/appointmentStatus}" th:object="${entity}" method="post">

    <p>
        <label for="CREATED">CREATED:</label>
            <input type="text" th:field="*{CREATED}" id="CREATED" required>
        </p>
    <p>
        <label for="APPROVED">APPROVED:</label>
            <input type="text" th:field="*{APPROVED}" id="APPROVED" required>
        </p>
    <p>
        <label for="DONE">DONE:</label>
            <input type="text" th:field="*{DONE}" id="DONE" required>
        </p>
    <p>
        <label for="REJECTED">REJECTED:</label>
            <input type="text" th:field="*{REJECTED}" id="REJECTED" required>
        </p>
    <p>
        <label for="$VALUES">$VALUES:</label>
            <input type="text" th:field="*{$VALUES}" id="$VALUES" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/appointmentStatus}">Cancel</a>
    </p>
</form>

</body>
</html>
