<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of AppointmentStatus</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of AppointmentStatus</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/appointmentStatus/edit}">Create new AppointmentStatus</a>
<table>
    <thead>
    <tr>
        <th>CREATED</th>
        <th>APPROVED</th>
        <th>DONE</th>
        <th>REJECTED</th>
        <th>$VALUES</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.CREATED}></td>
                                            <td th:text=${entity.APPROVED}></td>
                                            <td th:text=${entity.DONE}></td>
                                            <td th:text=${entity.REJECTED}></td>
                                            <td th:text=${entity.$VALUES}></td>
                
        <td>
            <a th:href="@{/appointmentStatus/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/appointmentStatus/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/appointmentStatus/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
