<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <title>Medical Appointments :: Medical Appointment System</title>

    <head th:replace="~{/commons/head :: head}"></head>
</head>
<body>
<head th:replace="~{/commons/header :: header}"></head>
<head th:replace="~{/commons/banner :: banner}"></head>

<div class="container-xxl py-6 mt-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5">
            <h1 class="display-5 mb-3">Appointments</h1>
            <h3 th:if="${message != null}" th:text="${message}" class="text-center"></h3>
        </div>
    </div>
</div>

<div class="container-xxl py-6" th:if="${user != null}">
    <div class="container">
        <div class="row">
            <br>
            <div class="tab-content">
                <div class="tab-pane active show">
                    <table class="table table-bappointmented">
                        <thead>
                        <tr>
                            <th>Appointment ID</th>
                            <th>Date</th>
                            <th>Time Slot</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointment : ${user.getActiveAppointments()}">
                            <td th:text="${appointment.id}"></td>
                            <td th:text="${appointment.date}"></td>
                            <td th:text="${appointment.timeSlot.simpleName}"></td>
                            <td th:text="${appointment.category.name}"></td>
                            <td th:text="${appointment.status}"></td>
                            <td th:text="${appointment.message}"></td>
                            <td>
                                <a class="btn btn-primary"
                                   th:href="@{/appointment/{id}/changeStatus?status=PRESELECTED(id=${appointment.id})}">Apply
                                    </a>
                                <a class="btn btn-danger" th:href="@{/appointment/{id}/delete(id=${appointment.id})}">Delete
                                    </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-xxl py-6" th:if="${#request.isUserInRole('ADMIN') or (user.isManagerOrAdmin() == true)}">
    <div class="container">
        <div class="row">
            <h2 class="display-5 mb-3">All Orders</h2>
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="ordersTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="created-tab" data-bs-toggle="pill" href="#PRESELECTED" role="tab"
                           aria-controls="created" aria-selected="true">PRESELECTED</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="inProgress-tab" data-bs-toggle="pill" href="#APPROVED" role="tab"
                           aria-controls="inProgress" aria-selected="false">APPROVED</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="done-tab" data-bs-toggle="pill" href="#DONE" role="tab"
                           aria-controls="done"
                           aria-selected="false">DONE</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="closed-tab" data-bs-toggle="pill" href="#REJECTED" role="tab"
                           aria-controls="closed" aria-selected="false">REJECTED</a>
                    </li>
                </ul>
                <div class="tab-content" id="ordersTabContent">
                    <div th:each="status : ${T(com.hescha.medicalappointment.model.AppointmentStatus).values()}"
                         th:id="${status}"
                         th:classappend="${status == T(com.hescha.medicalappointment.model.AppointmentStatus).PRESELECTED} ? 'active '"
                         class="tab-pane" role="tabpanel" aria-labelledby="${status}-tab">
                        <table class="table table-bappointmented">
                            <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Patient Name</th>
                                <th>Date</th>
                                <th>Time Slot</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appointment : ${list}" th:if="${appointment.status == status}">
                                <td th:text="${appointment.id}"></td>
                                <td th:text="${appointment.owner.fullName()}"></td>
                                <td th:text="${appointment.date}"></td>
                                <td th:text="${appointment.timeSlot.simpleName}"></td>
                                <td th:text="${appointment.category.name}"></td>
                                <td th:text="${appointment.status}"></td>
                                <td th:text="${appointment.message}"></td>
                                <td class="d-flex" style="font-size: 15px;flex-direction: column;">
                                    <a class="btn btn-primary"
                                       th:href="@{/appointment/edit/{id}(id=${appointment.id})}">EDIT</a>
                                    <a class="btn btn-primary"
                                       th:href="@{/appointment/{id}/changeStatus?status=APPROVED(id=${appointment.id})}">APPROVED</a>
                                    <a class="btn btn-primary"
                                       th:href="@{/appointment/{id}/changeStatus?status=DONE(id=${appointment.id})}">DONE</a>
                                    <a class="btn btn-primary"
                                       th:href="@{/appointment/{id}/changeStatus?status=REJECTED(id=${appointment.id})}">REJECTED</a>
                                    <a class="btn btn-danger"
                                       th:href="@{/appointment/{id}/delete(id=${appointment.id})}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="~{/commons/footer :: footer}"></footer>

<div th:replace="~{/commons/script :: script}"></div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>