<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Category</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Category Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>name:</th>
                <td th:text="${entity.name}"></td>
            </tr>
        <tr>
        <th>appointments:</th>
                <td>
            <ul>
                <li th:each="appointments_item : ${entity.appointments}" th:text="${appointments_item}"></li>
            </ul>
        </td>
            </tr>
    

</table>
<br>
<a th:href="@{/category}">Back to the List</a>
<a th:href="@{/category/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/category/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
