<!DOCTYPE html>
<html lang="en">
<head>
    <title>Departments</title>
    <head th:replace="~{/commons/head :: head}"></head>
</head>
<body>
<head th:replace="~{/commons/header :: header}"></head>
<head th:replace="~{/commons/banner :: banner}"></head>

<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h1 class="display-4">Departments</h1>
                <a class="btn btn-primary rounded-pill py-3 px-5 mb-5"
                   th:if="${#request.isUserInRole('ADMIN') }"
                   th:href="@{/category/edit}">Create new</a>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/
    const departmentTexts = {};
    const departmentNames = {};

    /*[# th:each="category : ${categories}"]*/
    departmentTexts["[[${category.id}]]"] = '[[${category.description}]]';
    departmentNames["[[${category.id}]]"] = '[[${category.name}]]';
    /*[/]*/

    document.addEventListener('DOMContentLoaded', function () {
        const departmentLinks = document.querySelectorAll('.list-unstyled.probootstrap-light .link');
        const nameOfCategory = document.querySelector('.nameOfCategory');
        const textOfCategory = document.querySelector('.textOfCategory');

        function updateContent(name, text) {
            nameOfCategory.innerHTML = `
                <h1 class="mt-4 mb-4">${name}</h1>
            `;
            textOfCategory.innerHTML = `
                <p>${text}</p>
            `;
        }

        departmentLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const dataId = event.target.getAttribute("data-id");
                updateContent(departmentNames[dataId], departmentTexts[dataId]);
            });
        });
    });
    /*]]>*/
</script>


<section class="probootstrap-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
                <div class="mb-3 pt-5">
                    <h2 class="h6">Departments</h2>
                    <ul class="list-unstyled probootstrap-light mb-4">
                        <li th:each="entity:${categories}" class="d-flex">
                            <a th:href="'/category/edit/'+${entity.id}"  th:if="${#request.isUserInRole('ADMIN') }"> Edit - </a>
                            <a href="#" th:text="${entity.name}" th:data-id="${entity.id}" class="link">Urology</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
                <h1 class="mt-4 mb-4 nameOfCategory">Click on the Department on the left</h1>
                <p class="textOfCategory">And you'll show full information about it</p>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section overlay bg-image" style="background-image: url(images/bg_1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white display-4">Specialists in Family Healthcare</h2>
                <p class="text-white mb-5 lead">Far far away, behind the word mountains, far from the countries
                    Vokalia.</p>
                <div class="row justify-content-center mb-5">
                    <div class="col-md-4"><a href="/#appointment" class="btn btn-secondary btn-block">Appointment <span
                            class="icon-arrow-right"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md probootstrap-animate">
                <div class="probootstrap-counter text-center">
                    <span class="probootstrap-number" data-number="22">0</span>
                    <span class="probootstrap-label">Founders</span>
                </div>
            </div>
            <div class="col-md probootstrap-animate">
                <div class="probootstrap-counter text-center">
                    <span class="probootstrap-number" data-number="182">0</span>
                    <span class="probootstrap-label">Number of Staffs</span>
                </div>
            </div>
            <div class="col-md probootstrap-animate">
                <div class="probootstrap-counter text-center">
                    <span class="probootstrap-number" data-number="8921">0</span>
                    <span class="probootstrap-label">Happy Patients</span>
                </div>
            </div>
            <div class="col-md probootstrap-animate">
                <div class="probootstrap-counter text-center">
                    <span class="probootstrap-number" data-number="252">0</span>
                    <span class="probootstrap-label">Business Partner</span>
                </div>
            </div>
        </div>
    </div>

</section>


<head th:replace="~{/commons/footer :: footer}"></head>
<head th:replace="~{/commons/script :: script}"></head>
</body>
</html>