<html lang="en">
<head>
  <title>Index</title>
  <head th:replace="~{/commons/head :: head}"></head>
  <style>
    .form-group input{
      background: Blue!important;
    }
  </style>
</head>
<body>
<head th:replace="~{/commons/header :: header}"></head>
<head th:replace="~{/commons/banner :: banner}"></head>

  <section class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h1 class="display-4">The Future Of Medical Website</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section class="probootstrap-features-1">
    <div class="container">
      <div class="row">
        <div class="col-md probootstrap-feature-item" style="background-image: url(images/img_1.jpg);">
          <div class="probootstrap-feature-item-text">
            <span class="icon"><i class="flaticon-first-aid-kit display-4"></i></span>
            <h2>Pediatric <span>Therapy</span></h2>
          </div>
        </div> 
        <div class="col-md probootstrap-opening">
          <h2 class="text-uppercase mb-3">Opening Hour <span>Medical Center</span></h2>
          <ul class="list-unstyled probootstrap-schedule">
            <li>Mon-Fri <span>5:00-17:00</span></li>
            <li>Sat <span>6:30-17:00</span></li>
            <li>Sun <span>6:30-17:00</span></li>
          </ul>
        </div> 
        <div class="col-md probootstrap-feature-item" style="background-image: url(images/img_2.jpg);">
          <div class="probootstrap-feature-item-text">
            <span class="icon"><i class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></i></span>
            
            <h2>Psychiatric <span>Therapy</span></h2>
          </div>
        </div> 
      </div>
    </div>
  </section>

  <section class="probootstrap-services">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 probootstrap-aside-stretch-left">
          <div class="mb-3">
            <h2 class="h6">Who are we?</h2>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pl-0">
          <div class="row mb-5">
            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-price-tag display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">Affordable Medical Care</h3>
                  <p>Receive high-quality healthcare services without breaking the bank from trusted professionals.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-shield-with-cross display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">Quality & Safety</h3>
                  <p>Our priority is to ensure the highest standards of patient care and safety throughout your experience.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">Prompt Service</h3>
                  <p>Minimize waiting times with our efficient appointment scheduling and dedicated healthcare providers.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">State-of-the-Art Equipment</h3>
                  <p>Experience cutting-edge medical technology and equipment to ensure accurate diagnosis and treatment.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">Tailored Treatment Plans</h3>
                  <p>We focus on creating personalized treatment plans to address your unique healthcare needs and goals.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="media d-block mb-5 text-center probootstrap-media">
                <div class="probootstrap-icon mb-3"><span class="flaticon-doctor display-4"></span></div>
                <div class="media-body">
                  <h3 class="h5 mt-0 text-secondary">Experienced Physicians</h3>
                  <p>Our team of highly skilled and experienced physicians is dedicated to providing the best possible care.</p>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-section overlay bg-image" style="background-image: url(images/bg_1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-white display-4">Specialists in Family  Healthcare</h2>
          <p class="text-white mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia.</p>
          <div class="row justify-content-center mb-5">
            <div class="col-md-4"><a href="#appointment" class="btn btn-secondary btn-block">Appointment <span class="icon-arrow-right"></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="probootstrap-blog-appointment" id="appointment">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 p-3 probootstrap-aside-stretch-right">
        <h2 class="h1 text-white">Make an Appointment</h2>
        <form th:action="@{/appointment}" th:object="${entity}" method="post" class="register-form outer-top-xs probootstrap-form">
          <div class="form-group">
            <label for="category">Category</label>
            <select th:field="*{category}" id="category" required class="form-control form-control text-input" >
              <option th:each="category : ${categories}"
                      th:value="${category.id}"
                      th:text="${category.name}">Category</option>
            </select>
          </div>
          <div class="form-group">
            <label for="date">Appointment Date</label>
            <input type="date" th:field="*{date}" id="date" required class="form-control form-control text-input" >
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea th:field="*{message}" id="message" cols="30" rows="10" placeholder="Write your message" class="form-control form-control text-input"  required></textarea>
          </div>
          <div class="form-group">
            <label for="timeSlot">Time Slot</label>
            <select th:field="*{timeSlot}" id="timeSlot" required class="form-control form-control text-input" >
              <option th:each="timeSlot : ${timeslots}"
                      th:value="${timeSlot}"
                      th:text="${timeSlot.simpleName}">Time Slot</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" value="Submit Form" class="btn btn-secondary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script th:inline="javascript">
  document.querySelector('.probootstrap-form-appointment').addEventListener('submit', async (event) => {
    event.preventDefault();

    const categoryId = document.getElementById('category').value;
    const date = document.getElementById('date').value;

    const response = await fetch(`/appointment/available-time-slots?categoryId=${categoryId}&date=${date}`);
    const availableTimeSlots = await response.json();
    const selectedTimeSlot = document.getElementById('timeSlot').value;


    if (availableTimeSlots.includes(selectedTimeSlot)) {
      // Если выбранный таймслот доступен, отправьте форму
      document.querySelector('.probootstrap-form-appointment').submit();
    } else {
      // Если выбранный таймслот недоступен, покажите список доступных таймслотов
      showAvailableTimeSlots(availableTimeSlots);
    }
  });
  function showAvailableTimeSlots(data) {
    let result = "К сожалению данное время уже забронировано. \n" +
            "Ниже список доступных слотов:\n\n";
    data.forEach(slot => {
      result += "\n" + timeSlotToReadableText(slot);
    });
    alert(result);
  }
  function timeSlotToReadableText(timeSlot) {
    const timeSlotMapping = {
      "H09_M00_TO_H09_M30": "9:00 - 9:30",
      "H09_M30_TO_H10_M00": "9:30 - 10:00",
      "H10_M00_TO_H10_M30": "10:00 - 10:30",
      "H10_M30_TO_H11_M00": "10:30 - 11:00",
      "H11_M00_TO_H11_M30": "11:00 - 11:30",
      "H11_M30_TO_H12_M00": "11:30 - 12:00",
      "H12_M00_TO_H12_M30": "12:00 - 12:30",
      "H12_M30_TO_H13_M00": "12:30 - 13:00",
      "H13_M00_TO_H13_M30": "13:00 - 13:30",
      "H13_M30_TO_H14_M00": "13:30 - 14:00",
      "H14_M00_TO_H14_M30": "14:00 - 14:30",
      "H14_M30_TO_H15_M00": "14:30 - 15:00",
      "H15_M00_TO_H15_M30": "15:00 - 15:30",
      "H15_M30_TO_H16_M00": "15:30 - 16:00",
      "H16_M00_TO_H16_M30": "16:00 - 16:30",
      "H16_M30_TO_H17_M00": "16:30 - 17:00",
      "H17_M00_TO_H17_M30": "17:00 - 17:30",
      "H17_M30_TO_H18_M00": "17:30 - 18:00"
    };

    return timeSlotMapping[timeSlot] || "Unknown time slot";
  }

</script>




    <section class="probootstrap-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="h1">Our Doctors</h2>
          <p class="lead text-secondary">Far far away, behind the word mountains, far from the countries Vokalia.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/person_1.jpg" alt="Free Template by ProBootstrap.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Medical Doctor</span>
            <span class="name">Dr. Abbey Smith</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/person_2.jpg" alt="Free Template by ProBootstrap.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Medical Doctor</span>
            <span class="name">Dr. Ben Carpio</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/person_3.jpg" alt="Free Template by ProBootstrap.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Medical Doctor</span>
            <span class="name">Dr. Louisa Westwood</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/person_4.jpg" alt="Free Template by ProBootstrap.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Cardiac Surgeon</span>
            <span class="name">Dr. Mark Sebastian</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section" id="section-counter">
      <div class="container">
        <div class="row">
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="22">0</span>
              <span class="probootstrap-label">Founders</span>
            </div>
          </div>
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="182">0</span>
              <span class="probootstrap-label">Number of Staffs</span>
            </div>
          </div>
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="8921">0</span>
              <span class="probootstrap-label">Happy Patients</span>
            </div>
          </div>
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="252">0</span>
              <span class="probootstrap-label">Business Partner</span>
            </div>
          </div>
        </div>
      </div>

    </section>

<head th:replace="~{/commons/footer :: footer}"></head>
<head th:replace="~{/commons/script :: script}"></head>
  
</body>
</html>