<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View TimeSlot</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>TimeSlot Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>H09_M00_TO_H09_M30:</th>
                <td th:text="${entity.H09_M00_TO_H09_M30}"></td>
            </tr>
        <tr>
        <th>H09_M30_TO_H10_M00:</th>
                <td th:text="${entity.H09_M30_TO_H10_M00}"></td>
            </tr>
        <tr>
        <th>H10_M00_TO_H10_M30:</th>
                <td th:text="${entity.H10_M00_TO_H10_M30}"></td>
            </tr>
        <tr>
        <th>H10_M30_TO_H11_M00:</th>
                <td th:text="${entity.H10_M30_TO_H11_M00}"></td>
            </tr>
        <tr>
        <th>H11_M00_TO_H11_M30:</th>
                <td th:text="${entity.H11_M00_TO_H11_M30}"></td>
            </tr>
        <tr>
        <th>H11_M30_TO_H12_M00:</th>
                <td th:text="${entity.H11_M30_TO_H12_M00}"></td>
            </tr>
        <tr>
        <th>H12_M00_TO_H12_M30:</th>
                <td th:text="${entity.H12_M00_TO_H12_M30}"></td>
            </tr>
        <tr>
        <th>H12_M30_TO_H13_M00:</th>
                <td th:text="${entity.H12_M30_TO_H13_M00}"></td>
            </tr>
        <tr>
        <th>H13_M00_TO_H13_M30:</th>
                <td th:text="${entity.H13_M00_TO_H13_M30}"></td>
            </tr>
        <tr>
        <th>H13_M30_TO_H14_M00:</th>
                <td th:text="${entity.H13_M30_TO_H14_M00}"></td>
            </tr>
        <tr>
        <th>H14_M00_TO_H14_M30:</th>
                <td th:text="${entity.H14_M00_TO_H14_M30}"></td>
            </tr>
        <tr>
        <th>H14_M30_TO_H15_M00:</th>
                <td th:text="${entity.H14_M30_TO_H15_M00}"></td>
            </tr>
        <tr>
        <th>H15_M00_TO_H15_M30:</th>
                <td th:text="${entity.H15_M00_TO_H15_M30}"></td>
            </tr>
        <tr>
        <th>H15_M30_TO_H16_M00:</th>
                <td th:text="${entity.H15_M30_TO_H16_M00}"></td>
            </tr>
        <tr>
        <th>H16_M00_TO_H16_M30:</th>
                <td th:text="${entity.H16_M00_TO_H16_M30}"></td>
            </tr>
        <tr>
        <th>H16_M30_TO_H17_M00:</th>
                <td th:text="${entity.H16_M30_TO_H17_M00}"></td>
            </tr>
        <tr>
        <th>H17_M00_TO_H17_M30:</th>
                <td th:text="${entity.H17_M00_TO_H17_M30}"></td>
            </tr>
        <tr>
        <th>H17_M30_TO_H18_M00:</th>
                <td th:text="${entity.H17_M30_TO_H18_M00}"></td>
            </tr>
        <tr>
        <th>name:</th>
                <td th:text="${entity.name}"></td>
            </tr>
        <tr>
        <th>$VALUES:</th>
                <td th:text="${entity.$VALUES}"></td>
            </tr>
    

</table>
<br>
<a th:href="@{/timeslot}">Back to the List</a>
<a th:href="@{/timeslot/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/timeslot/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
