<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of TimeSlot</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of TimeSlot</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/timeSlot/edit}">Create new TimeSlot</a>
<table>
    <thead>
    <tr>
        <th>H09_M00_TO_H09_M30</th>
        <th>H09_M30_TO_H10_M00</th>
        <th>H10_M00_TO_H10_M30</th>
        <th>H10_M30_TO_H11_M00</th>
        <th>H11_M00_TO_H11_M30</th>
        <th>H11_M30_TO_H12_M00</th>
        <th>H12_M00_TO_H12_M30</th>
        <th>H12_M30_TO_H13_M00</th>
        <th>H13_M00_TO_H13_M30</th>
        <th>H13_M30_TO_H14_M00</th>
        <th>H14_M00_TO_H14_M30</th>
        <th>H14_M30_TO_H15_M00</th>
        <th>H15_M00_TO_H15_M30</th>
        <th>H15_M30_TO_H16_M00</th>
        <th>H16_M00_TO_H16_M30</th>
        <th>H16_M30_TO_H17_M00</th>
        <th>H17_M00_TO_H17_M30</th>
        <th>H17_M30_TO_H18_M00</th>
        <th>name</th>
        <th>$VALUES</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.H09_M00_TO_H09_M30}></td>
                                            <td th:text=${entity.H09_M30_TO_H10_M00}></td>
                                            <td th:text=${entity.H10_M00_TO_H10_M30}></td>
                                            <td th:text=${entity.H10_M30_TO_H11_M00}></td>
                                            <td th:text=${entity.H11_M00_TO_H11_M30}></td>
                                            <td th:text=${entity.H11_M30_TO_H12_M00}></td>
                                            <td th:text=${entity.H12_M00_TO_H12_M30}></td>
                                            <td th:text=${entity.H12_M30_TO_H13_M00}></td>
                                            <td th:text=${entity.H13_M00_TO_H13_M30}></td>
                                            <td th:text=${entity.H13_M30_TO_H14_M00}></td>
                                            <td th:text=${entity.H14_M00_TO_H14_M30}></td>
                                            <td th:text=${entity.H14_M30_TO_H15_M00}></td>
                                            <td th:text=${entity.H15_M00_TO_H15_M30}></td>
                                            <td th:text=${entity.H15_M30_TO_H16_M00}></td>
                                            <td th:text=${entity.H16_M00_TO_H16_M30}></td>
                                            <td th:text=${entity.H16_M30_TO_H17_M00}></td>
                                            <td th:text=${entity.H17_M00_TO_H17_M30}></td>
                                            <td th:text=${entity.H17_M30_TO_H18_M00}></td>
                                            <td th:text=${entity.name}></td>
                                            <td th:text=${entity.$VALUES}></td>
                
        <td>
            <a th:href="@{/timeSlot/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/timeSlot/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/timeSlot/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
