<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View User</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>User Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>username:</th>
                <td th:text="${entity.username}"></td>
            </tr>
        <tr>
        <th>password:</th>
                <td th:text="${entity.password}"></td>
            </tr>
        <tr>
        <th>firstname:</th>
                <td th:text="${entity.firstname}"></td>
            </tr>
        <tr>
        <th>lastname:</th>
                <td th:text="${entity.lastname}"></td>
            </tr>
        <tr>
        <th>email:</th>
                <td th:text="${entity.email}"></td>
            </tr>
        <tr>
        <th>image:</th>
                <td th:text="${entity.image}"></td>
            </tr>
        <tr>
        <th>address:</th>
                <td th:text="${entity.address}"></td>
            </tr>
        <tr>
        <th>birthDate:</th>
                <td th:text="${entity.birthDate}"></td>
            </tr>
        <tr>
        <th>roles:</th>
                <td>
            <ul>
                <li th:each="roles_item : ${entity.roles}" th:text="${roles_item}"></li>
            </ul>
        </td>
            </tr>
        <tr>
        <th>appointments:</th>
                <td>
            <ul>
                <li th:each="appointments_item : ${entity.appointments}" th:text="${appointments_item}"></li>
            </ul>
        </td>
            </tr>
    

</table>
<br>
<a th:href="@{/user}">Back to the List</a>
<a th:href="@{/user/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/user/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
